@using NToastNotify;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeTest_FRONTEND</title>

    <!-- Bootstrap 5.3.3 CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- sidebar lateral -->
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/CodeTest_FRONTEND.styles.css" asp-append-version="true" /> *@

    <!-- CDN icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- NToastNotify -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)

</head>

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<body>
    @if (currentController == "Account" && currentAction == "Login")
    {
        <!-- Tela de login ocupa 100% da altura da tela -->
        <div class="d-flex justify-content-center align-items-center min-vh-100 w-100">
            @RenderBody()
        </div>
    }
    else
    {
        <!-- Estrutura padrão -->
        <div class="d-flex flex-column min-vh-100">
            <!-- Navbar Superior -->
            <partial name="_Navbar" />

            <!-- Área principal: sidebar + conteúdo -->
            <div class="d-flex flex-grow-1 flex-column flex-md-row">

                <nav class="sidebar" id="sidebar">
                    <partial name="_Sidebar" />
                </nav>

                <!-- Conteúdo principal -->
                <main role="main" class="flex-grow-1 p-4">
                    @RenderBody()
                </main>
            </div>

            <!-- Rodapé -->
            <partial name="_Footer" />
        </div>
    }

    <!-- jQuery (opcional para compatibilidade) -->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap 5.3.3 JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- javascript -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Scripts do ToastNotify-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
