@model List<CodeTest_FRONTEND.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Usuários";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<!-- Chamada da partial view -->
@await Html.PartialAsync("_Tabela", Model)

@section Scripts {
    <script src="~/js/User/UserTable.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

          const tabela = new UserTable();

          tabela.init();
        });
    </script>
}