@using CodeTest_FRONTEND.Models.Usuario
@model IEnumerable<UsuarioViewModel>

@{
    ViewData["Title"] = "Usuários";
}



<div class="container-fluid">
    <div class="text-center mb-3">
        <h1 class="display-4">@ViewBag.Title</h1>
    </div>

    <div class="row mb-3">

        <!-- BOTÕES FILTRAR-->
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <a asp-controller="Usuario" asp-action="Cadastrar" class="btn btn-primary rounded">
                Cadastrar
            </a>
        </div>
    </div>

    <!-- Chamada da partial view -->
    @await Html.PartialAsync("_Tabela", Model)

</div>

@section Scripts {
    <script src="~/js/User/UserTable.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

          const tabela = new UserTable();

          tabela.init();
        });
    </script>
}